/*____________ GÉNÉRAL ____________*/

body { margin: 0px; padding: 0px; background-color: #DDF2FE; }
section { display: block; margin: 30px; padding: 0px; }
.recordsSubsection { display: block; margin: 10px 0px 10px 0px; }
.recordsSection { display: block; }
h1
{
	margin-top: 15px;
	text-align: center;
	color: black;
	font-size: 50px;
	text-shadow: grey 2px 2px 2px;
	font-style : italic;
}
p { margin: 3px; font-size: 1em; text-align: justify; }

footer
{
	width: 55%;
	margin: 50px auto 5px auto;
	border-top: 1px solid #868686;
	border-bottom: 1px solid #868686;
	text-align: center;
	color: black;
	font-size: 9px;
}

/*____________ TABLEAU ____________*/

table
{
	border: 1px solid black;
	border-collapse: collapse;
	box-shadow: 3px 3px 2px grey;
	font-size: 12px;
	font-family: "Verdana";
	margin: 10px auto 10px auto;
	padding: 0px;
}
td
{
	border: 1px solid black;
	background-color: #F3F3F3;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 5px;
	text-align: center;
	min-width: 130px;
	height: 30px;
}
.avec_francocube:hover { background-image: url("logo_francocube.png"); }
.avec_youtube:hover { background-image: url("logo_youtube.png"); }
.avec_pb_sheet:hover { background-image: url("logo_pb_sheet.png"); }
.avec_wca:hover { background-image: url("logo_wca.png"); }

th
{
	height: 20px;
	text-align: center;
	background-color: rgb(255,150,0);
	border: 1px solid black;
}
td a
{
	width: 100%;
	height: 100%;
	color: black;
	text-decoration: none;
}
.eventName { min-width: 150px; }
.commentaire
{
	display: none;
	transform: translate(20px,-43px);
	padding: 2px 5px 2px 5px;
	background-color: rgb(220,220,220);
	border: 1px solid grey;
	border-radius: 3px;
}
a:hover > .commentaire, td:hover > .commentaire { display: inline-block; position: absolute; z-index: 10; }

#stock_xml { display: none; }

/*____________ PLAN DE PAGE, FILTRER ET MODE COMPACT ____________*/
#bouton_filtrer, #offCompactButton, #onCompactButton
{
	display: inline-block;
	vertical-align: top;
	margin: 15px 0px 0px 15px;
	padding: 5px;
	text-align: center;
	width: 200px;
	height: 25px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	text-shadow: white 1px 1px 1px;
	font-size: 18px;
	border: 1px solid black;
}

#bouton_filtrer { background-color: rgb(100,200,100); }
#offCompactButton { background-color: rgb(100,100,200); }
#onCompactButton { background-color: rgb(150,150,200); }

#pagePlan
{
	display: inline-block;
	margin: 15px;
	padding: 0px;
	border: 1px solid grey;
	border-radius: 10px;
	width: 425px;
	text-align: center;
	background-color: rgb(200,255,200);
}

.sectionPlan { display: inline-block; vertical-align: top; margin: 0px; padding: 5px; }
.sectionPlanTitle { display: inline-block; vertical-align: top; margin: 0px 10px 10px 10px; }

.subsectionPlan { display: inline-block; text-align: center; margin: 3px 0px 0px 15px; padding: 0px; }
.subsectionPlanTitle { display: inline-block; vertical-align: middle; margin: 0px 0px 0px 10px; }

#filters { border-bottom: 1px solid rgb(170,170,170); text-align: center; }
.avgTypeFilter { display: inline-block; margin: 5px 5px 0px 5px; }
.avgTypeFilterName { display: inline-block; vertical-align: middle; margin: 5px; }

.externalButton
{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 35px;
	height: 14px;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	background-color: rgb(180,180,180);
	border: 1px solid rgb(100,100,100);
	border-radius: 50px;
	cursor: pointer;
}
.sectionPlan > .externalButton { vertical-align: middle; }
.innerButton
{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	transform: translate(0px,-4px);
	width: 12px;
	height: 12px;
	border-radius: 50px;
	border: 1px solid rgb(100,100,100);
	margin: 0px;
	background-color: rgb(100,255,100);
	transition: all 0.5s;
}