/*____________ GÉNÉRAL ____________*/

body { margin: 0px; padding: 0px; background-color: #DDF2FE; }
section { display: block; margin: 30px; padding: 0px; }
section section { display: block; margin: 10px 0px 10px 0px; }
.partie { display: block; }
h1
{
	margin-top: 15px;
	text-align: center;
	color: black;
	font-size: 50px;
	text-shadow: grey 2px 2px 2px;
	font-style : italic;
}
p
{
	margin-left: 3px;
	font-size: 1em;
	text-align: justify;
	margin-top: 3px;
	margin-bottom: 3px;
}

footer
{
	width: 55%;
	margin: 50px auto 5px auto;
	border-top: 1px solid #868686;
	border-bottom: 1px solid #868686;
	text-align: center;
	color: black;
	font-size: 9px;
}

/*____________ TABLEAU ____________*/

table
{
	border: 1px solid black;
	border-collapse: collapse;
	box-shadow: 3px 3px 2px grey;
	font-size: 12px;
	font-family: "Verdana";
	margin: 10px auto 10px auto;
	padding: 0px;
}
td
{
	border: 1px solid black;
	background-color: #F3F3F3;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 5px;
	text-align: center;
	width: 130px;
	height: 30px;
}
.avec_video:hover { background-image: url("logo_youtube.png"); }
.avec_discussion:hover { background-image: url("logo_discussion.png"); }
.avec_video_et_discussion:hover { background-image: url("logo_youtube.png"); }
th
{
	border: 1px solid black;
	background-color: #FFA000;
	height: 20px;
	text-align: center;
}
td a
{
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: black;
}
.nom_epreuve
{
	width: 200px;
}
.commentaire
{
	display: none;
	position: relative;
	transform: translate(20px,-43px);
	background-color: #DDDDDD;
	padding: 0px 5px 0px 5px;
	border-radius: 3px;
	border: 1px solid grey;
}
a:hover > .commentaire
{
	display: inline-block;
	position: absolute;
	z-index: 10;
}
.lien_video:hover
{
	background-image: url("logo_youtube.png");
	width: 100%;
	height: 100%;
}

/*____________ PLAN DE PAGE ____________*/
#plan, #plan_cache
{
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgb(100,200,100);
	cursor: pointer;
}
#plan div, #plan_cache div
{
	display: none;
}
#plan_ouvert
{
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	padding: 5px;
	border: 1px solid grey;
	border-radius: 10px;
	background-color: rgb(200,255,200);
}
.plan_partie
{
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 0px 0px;
	padding: 10px;
}
.plan_partie_titre
{
	display: inline-block;
	vertical-align: middle;
	margin: 10px 0px 10px 10px;
}
.plan_sous_partie
{
	display: inline-block;
	margin: 3px 0px 0px 15px;
	padding: 0px;
}
.plan_sous_partie_titre
{
	vertical-align: middle;
	display: inline-block;
	margin: 0px 0px 0px 10px;
}
.plan_bouton_externe
{
	vertical-align: middle;
	display: inline-block;
	width: 35px;
	height: 14px;
	border-radius: 50px;
	border: 1px solid rgb(100,100,100);
	margin: 0px 0px 0px 10px;
	padding: 0px;
	background-color: rgb(180,180,180);
	cursor: pointer;
}
.plan_partie > .plan_bouton_externe { vertical-align: middle; }
.plan_bouton_interne
{
	display: inline-block;
	position: relative;
	top: -1px;
	width: 12px;
	height: 12px;
	border-radius: 50px;
	border: 1px solid rgb(100,100,100);
	margin: 0px;
	background-color: rgb(100,255,100);
	transition: all 0.5s;
}

#filtrer
{
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	padding: 5px;
	border: 1px solid black;
	background-color: rgb(80,80,255);
	border-radius: 5px;
	cursor: pointer;
}