/* General style */

section#filters div.button, section#filters div#pagePlanAndFilters div
{
    display: inline-block;
}

div#pagePlanAndFilters
{
    display: none;
    margin: 15px;
    padding: 0px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    width: 550px;
    text-align: center;
    background-color: rgb(200,255,200);
}


/* Style for the two buttons on top of the page */

div.button
{
    vertical-align: middle;
    width: 200px;
    height: 25px;
    margin: 0px 0px 0px 15px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

div#planAndFiltersButton
{
    background-color: rgb(100,200,100);
}

div#offCompactButton
{
    background-color: rgb(125,125,200);
}

div#onCompactButton
{
    background-color: rgb(150,150,200);
}


/* Style for avgType filters */

div#avgTypeFilters
{
    width: 100%;
    border-bottom: 1px solid rgb(170,170,170);
    text-align: center;
}

div.avgTypeFilter
{
    margin: 5px 5px 0px 5px;
}

div.avgTypeFilterName
{
    vertical-align: middle;
    margin: 5px;
}


/* Style for page plan */

div.sectionPlan
{
    vertical-align: top;
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 5px;
}

div.normalPlan div.sectionPlan
{
    width: 46%;
    text-align: left;
}

div.compactPlan div.sectionPlan
{
    width: 130px;
}

a.sectionPlanTitle
{
    vertical-align: top;
    margin: 0px;
}

div.normalPlan a.sectionPlanTitle
{
    display: inline-block;
    min-width: 100px;
    margin-left: 10px;
    text-align: left;
}

div.compactPlan a.sectionPlanTitle
{
    display: block;
    text-align: center;
}

div.subsectionPlan
{
    margin: 3px 0px 0px 15px;
    padding: 0px;
}

a.subsectionPlanTitle
{
    display: inline-block;
    min-width: 100px;
    vertical-align: middle;
    margin: 0px 0px 0px 10px;
}


/* Style for filter buttons */

div.externalButton
{
    vertical-align: middle;
    width: 35px;
    height: 14px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: 1px solid rgb(100,100,100);
    border-radius: 50px;
    background-color: rgb(180,180,180);
    text-align: left;
    cursor: pointer;
}

div.innerButton
{
    vertical-align: middle;
    position: relative;
    transform: translate(0px,-5px);
    width: 12px;
    height: 12px;
    margin: 0px;
    border: 1px solid rgb(100,100,100);
    border-radius: 50px;
    background-color: rgb(100,255,100);
    transition: all 0.5s;
}


/* Style for toggle language button and flags */

div#toggleLanguageButton
{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 18px;
    padding: 5px 8px 6px 6px;
    cursor: pointer;
}

img.flag
{
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 18px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}

img#frontFlag
{
    z-index: 1;
    transform: translate(-20%, 20%);
    background-image: url("flagFR.png");
}

img#backFlag
{
    z-index: 0;
    transform: translate(20%, -20%);
    background-image: url("flagUK.png");
}