#planAndFiltersButton, #offCompactButton, #onCompactButton
{
    display: inline-block;
    vertical-align: top;
    margin: 15px 0px 0px 15px;
    padding: 5px;
    text-align: center;
    width: 200px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    text-shadow: rgb(255, 255, 255) 1px 1px 1px;
    font-size: 18px;
}

#planAndFiltersButton { background-color: rgb(100,200,100); }
#offCompactButton { background-color: rgb(100,100,200); }
#onCompactButton { background-color: rgb(150,150,200); }

#pagePlanAndFilters
{
    display: none;
    margin: 15px;
    padding: 0px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    width: 460px;
    text-align: center;
    background-color: rgb(200,255,200);
}

.sectionPlan { display: inline-block; vertical-align: top; margin: 5px 0px 5px 0px; padding: 0px 0px 0px 5px; }
.normalPlan .sectionPlan { width: 46%; text-align: left; }
.compactPlan .sectionPlan { width: 130px; }
.sectionPlanTitle { display: inline-block; vertical-align: top; margin: 0px 0px 0px 0px; }
.normalPlan .sectionPlanTitle { min-width: 100px; margin-left: 10px; }
.compactPlan .sectionPlanTitle { width: 100%; text-align: center; }

.subsectionPlan { display: inline-block; margin: 3px 0px 0px 15px; padding: 0px; }
.subsectionPlanTitle { display: inline-block; min-width: 100px; vertical-align: middle; margin: 0px 0px 0px 10px; }

#avgTypeFilters { border-bottom: 1px solid rgb(170,170,170); text-align: center; }
.avgTypeFilter { display: inline-block; margin: 5px 5px 0px 5px; }
.avgTypeFilterName { display: inline-block; vertical-align: middle; margin: 5px; }

.externalButton
{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 35px;
    height: 14px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background-color: rgb(180,180,180);
    border: 1px solid rgb(100,100,100);
    border-radius: 50px;
    cursor: pointer;
}
.sectionPlan > .externalButton { vertical-align: middle; }
.innerButton
{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: translate(0px,-4px);
    width: 12px;
    height: 12px;
    border-radius: 50px;
    border: 1px solid rgb(100,100,100);
    margin: 0px;
    background-color: rgb(100,255,100);
    transition: all 0.5s;
}