/* General stuff */

table
{
    margin: 10px auto 10px auto;
    padding: 0px;
    border: 1px solid rgb(60, 60, 60);
    border-collapse: collapse;
    font: 12px "Verdana", sans-serif;
    text-align: center;
}

th
{
    height: 25px;
    padding: 0px 10px 0px 10px;
    border: 1px solid rgb(60, 60, 60);
    background-color: rgb(255,150,0);
}

td
{
    border: 1px solid rgb(60, 60, 60);
    background-color: rgb(243, 243, 243);
}


/* Specific to record tables */

table.recordTable td
{
    height: 43px;
    width: 125px;
    padding: 5px;
}

table.recordTable td.eventName
{
    min-width: 200px;
}

div.commentary
{
    display: none;
    position: absolute;
    z-index: 10;
    transform: translate(20px,-43px);
    padding: 2px 5px 2px 5px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 3px;
    background-color: rgb(220,220,220);
}

td:hover div.commentary
{
    display: inline-block;
}


/* Specific to palmares table */

section#palmares td
{
    width: 150px;
    padding: 10px;
}


/* Specific to longest and shortest standing records tables */

section#longestStanding td, section#shortestStanding td
{
    height: 40px;
    padding: 5px 10px 5px 10px;
}

section#statistics td.name
{
    width: 135px;
}

section#statistics td.date
{
    width: 190px;
}

section#statistics td.eventName
{
    width: 165px;
}

section#statistics td.times
{
    width: 275px;
}
