section#header {
	display: flex;
	text-align: justify;
	justify-content: space-between;
}

div#toggleLanguageButton {
    display: inline-block;
	margin: auto 8px;
    height: 18px;
    cursor: pointer;
}

img.flag {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 18px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}

img#frontFlag {
    z-index: 1;
    transform: translate(-20%, 20%);
    background-image: url("../images/flags/flagFR.png");
}

img#backFlag {
    z-index: 0;
    transform: translate(20%, -20%);
    background-image: url("../images/flags/flagUK.png");
}

div#emptyDiv {
	display: inline-block;
}
