/* Modal structure */

div#modalBackdrop {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
}

div#recordDetailsModal {
	display: none;
	position: fixed;
	z-index: 2;
	top: 5%;
	left: 20%;
	height: 80%;
	width: 60%;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 0.5rem;
}

div#recordDetailsModal div#modalHeader,
div#recordDetailsModal div#modalBody,
div#recordDetailsModal div#modalFooter {
	padding: 1rem 2rem;
}

div#recordDetailsModal button.modalCloseButton {
	cursor: pointer;
}

/* Activation of the modal mode */

body:has(div#recordDetailsModal[data-activated=true]) {
	overflow: hidden;
}

body:has(div#recordDetailsModal[data-activated=true]) div#modalBackdrop {
	display: block;
}

div#recordDetailsModal[data-activated=true] {
	display: block;
}

/* Modal header */

div#recordDetailsModal div#modalHeader {
	min-height: 5%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	display: flex;
	justify-content: space-between;
	padding-right: 0.5rem;
	font-size: 1.25rem;
}

div#recordDetailsModal div#modalHeader label#modalTitleBegin,
div#recordDetailsModal div#modalHeader label#modalTitleEnd {
	display: inline-block;
	vertical-align: middle;
}

div#recordDetailsModal div#modalHeader button.modalCloseButton {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	padding: 1rem;
	vertical-align: middle;
	background: transparent url("../images/buttons/closeButton.svg") center/1em auto no-repeat;
	border: none;
	opacity: 0.5;
}

div#recordDetailsModal div#modalHeader button.modalCloseButton:hover {
	opacity: 0.75;
}

/* Modal body */

div#recordDetailsModal div#modalBody {
	overflow-y: auto;
	height: calc(
		100% /* total modal height */
		- 4rem /* modalHeader height */
		- 1px /* modalHeader border-bottom */
		- 2rem /* modalBody padding */
		- 1px /* modalFooter border-top */
		- 4.2rem /* modalFooter height */
		- 2px /* unexplained close-button extra height to font-size */
	);
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

div#recordDetailsModal div#modalBody div.col-2:first-child {
	width: 60%;
}

div#recordDetailsModal div#modalBody div.col-2:last-child {
	width: 35%;
}

div#recordDetailsModal div#modalBody div#recordDetails,
div#recordDetailsModal div#modalBody div#recordPosts,
div#recordDetailsModal div#modalBody div#personsInfo {
	margin: 0px;
}

div#recordDetailsModal div#modalBody div#recordPosts {
	margin-top: 2rem;
}

div#recordDetailsModal div#modalBody h2.modalSectionTitle {
	font-size: 1.25rem;
	font-weight: 500;
	margin: 0px 0px 1rem 0px;
}

div#recordDetailsModal div#modalBody div.recordDetailsField:not(:first-child) {
	margin-top: 0.5rem;
}

div#recordDetailsModal div#modalBody div.fieldValue {
	display: inline;
}

div#recordDetailsModal div#modalBody div#recordScore,
div#recordDetailsModal div#modalBody div#recordTime {
	display: none;
}

div#recordDetailsModal div#modalBody div#recordScore:has(div#recordScoreValue:not(:empty)),
div#recordDetailsModal div#modalBody div#recordTime:has(div#recordTimeValue:not(:empty)) {
	display: block;
}

div#recordDetailsModal div#modalBody div#youtubeVideo {
	display: none;
	position: relative;
	width: 100%;
	padding-top: 56.111%; /* standard aspect ratio from Youtube miniatures (360x202) */
}

div#recordDetailsModal div#modalBody div#youtubeVideo:has(iframe#youtubeVideoEmbedIframe) {
	display: block;
}

div#recordDetailsModal div#modalBody iframe#youtubeVideoEmbedIframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	border: none;
}

div#recordDetailsModal div#modalBody a.infoLink {
	display: block;
	text-decoration: none;
	width: fit-content;
	padding-right: 5px;
}

div#recordDetailsModal div#modalBody a.infoLink img.icon,
div#recordDetailsModal div#modalBody a.infoLink label.linkLabel {
	vertical-align: middle;
}

div#recordDetailsModal div#modalBody a.infoLink img.icon {
	height: 25px;
	width: 25px;
	margin-right: 5px;
}

div#recordDetailsModal div#modalBody a.infoLink[href],
div#recordDetailsModal div#modalBody a.infoLink[href] label {
	cursor: pointer;
}

div#recordDetailsModal div#modalBody a.infoLink:not([href]) img.icon {
	opacity: 0.5;
	cursor: not-allowed;
}

div#recordDetailsModal div#modalBody div#recordPosts a.infoLink:not([href]),
div#recordDetailsModal div#modalBody div#recordPosts:not(:has(a.infoLink[href])) {
	display: none;
}

div#recordDetailsModal div#modalBody div.personInfo:not(:first-child) {
	margin-top: 1rem;
}

div#recordDetailsModal div#modalBody div.personInfo .personInfoItem:not(:first-child) {
	margin-top: 0.25rem;
}

div#recordDetailsModal div#modalBody div.personInfo div.personName,
div#recordDetailsModal div#modalBody div.personInfo div.personRecordCountAndRank {
	height: 25px;
}

/* Modal footer */

div#recordDetailsModal div#modalFooter {
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	text-align: right;
}

div#recordDetailsModal div#modalFooter button.modalCloseButton {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	opacity: 0.9;
	padding: 0.7rem;
	font-size: 0.8rem;
	border-radius: 0.4rem;
	border: none;
}

div#recordDetailsModal div#modalFooter button.modalCloseButton:hover {
	opacity: 1;
}
