section#statistics ul li {
	width: 50px;
	border-radius: 5px;
	text-align: center;
	margin: 0px 3px;
	padding: 7px 15px;
	cursor: pointer;
	display: inline-block;
}

section#statistics ul img {
	height: 25px;
	width: 25px;
	vertical-align: middle;
	list-style-type: none;
}

section#statistics ul[data-selected=bars] li#barsButton,
section#statistics ul[data-selected=pie] li#pieButton,
section#statistics ul[data-selected=timeline] li#timelineButton {
	background-color: #eeeeee;
}

section#statistics ul[data-selected=bars] ~ div#bars,
section#statistics ul[data-selected=pie] ~ div#pie,
section#statistics ul[data-selected=timeline] ~ div#timeline {
	display: block;
}

div#bars, div#pie, div#timeline {
	display: none;
}

section#statistics div#countByPersonSplitByGroupBarChartContainer,
section#statistics div#countByGroupSplitByPersonBarChartContainer,
section#statistics div#doughnutChartContainer,
section#statistics div#timelineChartContainer,
section#statistics div#timelineChartContainer2,
section#statistics div.emptyChartSlot {
	height: 350px;
	padding: 0px;
}

section#statistics div#countByPersonSplitByGroupBarChartContainer,
section#statistics div#doughnutChartContainer,
section#statistics div#timelineChartContainer {
	margin-bottom: 30px;
}
